html {
  margin: auto;
  width: 960px;
  overflow: visible;
}
h1 {
  color: #4aaaa5;
  border-bottom: solid #cccccc 2px;
  padding-bottom: 20px;
  margin-left: 20px;
  font-size: 1.5em;
}

body {
  background-color: white;
  position: relative;
  padding: 0px;
  margin: 0px;
  overflow: visible;
}

.ABC {
  width: 960px;
  margin-left: auto;
  margin-right: auto;

  position: relative;
}
#BigName {
  background-color: #4aaaa5;
  display: inline-block;
  padding: 15px 20px;
  font-size: 2em;
  margin: 0px;
  color: white;
  border: none;
}

.Primary-Nav {
  display: inline;
  position: absolute;
  top: 10px;
  right: 0px;
}

a:hover {
  background-color: aquamarine;
  text-decoration: underline;
}

.grayBackground {
  background-color: #dddddd;
  height: 100%;
  position: fixed;
  right: 0px;
  left: 0px;
  overflow: auto;
  border-top: solid #cccccc 2px;
}

/* .aboutMe {
  padding-left: 20px;
} */

.mainDescription {
  width: 960px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  padding: 20px 20px;
}

p {
  padding: 0px 20px;
}

.mainDescription::after {
  content: "";
  display: table;
  clear: both;
}

.floatImageLeft {
  float: left;
  padding: 0px 20px;
}

.horizontal {
  display: inline-block;
  padding: 0px 20px;
  border-right: solid #dddddd 1px;
}
footer {
  height: 30px;
  background-color: gray;
  display: block;
  border-top: solid #4aaaa5 10px;
  position: fixed;
  right: 0px;
  left: 0px;
  bottom: 0px;
}
.footerText {
  font-size: 10px;
  text-align: center;

  padding-bottom: 10px;
}

/*
Portfolio
*/

.whiteBackground {
  background-color: white;
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

#portfolioHeading {
  margin-top: 40px;
  width: 90%;
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
  /* border-bottom: solid gray 5px; */
}

.portfolioImages {
  max-height: 275px;
  max-width: 275px;
}

.portfolioImagesWithWords {
  display: inline-block;
  position: relative;

  margin: 10px 10px;
}

.portfolioContainer {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  height: 1000px;
  background-color: white;
}
.portfolioImageText {
  background-color: #4aaaa5;
  position: absolute;
  font-size: 30px;
  color: white;
  width: 100%;
  bottom: 0px;
  z-index: 5;
  text-align: center;
  margin-bottom: 20px;
  padding: 0px;
}
/* Contact Page*/

form {
  background-color: white;
  margin: 10px;
  padding: 15px;
  width: 90%;
  margin: auto;
}
input {
  width: 100%;
  padding: 5px 0px;
  margin-bottom: 20px;
}
input[type="textarea"] {
  padding-bottom: 200px;
}
input[type="submit"] {
  color: white;
  background-color: #4aaaa5;
  width: 20%;

  padding-top: 10px;
  padding-bottom: 10px;
}
